.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura da tela inteira */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
  }
  .message {
    text-align: center; /* Centraliza o texto horizontalmente */
    color: rgb(35, 35, 77); /* Define a cor do texto como azul */
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif; /* Define a família da fonte como Arial */
  }
  .messageContainer {
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno maior */
    margin-top: 20px; /* Adiciona uma margem superior para separar dos campos de entrada */
    border: 1px solid rgb(28, 28, 77); /* Adiciona uma borda sólida azul */
    border-radius: 5px; /* Adiciona uma borda arredondada */
    background-color: rgb(201, 221, 228); /* Define a cor de fundo como azul claro */
    max-width: 300px; /* Define a largura máxima do container */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }